<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">
	<display-name>beauty-web</display-name>
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>Controller</display-name>
		<servlet-name>Controller</servlet-name>
		<servlet-class>beauty.web.controller.Controller</servlet-class>
		<init-param>
			<param-name>jdbcDriverName</param-name>
			<param-value>com.mysql.jdbc.Driver</param-value>
		</init-param>
		<init-param>
			<param-name>jdbcURL</param-name>
			<param-value>jdbc:mysql:///beauty_web</param-value>
		</init-param>
	</servlet>
	<servlet>
		<description></description>
		<display-name>DataController</display-name>
		<servlet-name>DataController</servlet-name>
		<servlet-class>beauty.web.controller.DataController</servlet-class>
		<init-param>
			<param-name>jdbcDriverName</param-name>
			<param-value>com.mysql.jdbc.Driver</param-value>
		</init-param>
		<init-param>
			<param-name>jdbcURL</param-name>
			<param-value>jdbc:mysql:///beauty_web</param-value>
		</init-param>
		<init-param>
			<param-name>jdbcUname</param-name>
			<param-value>root</param-value>
		</init-param>
		<init-param>
			<param-name>jdbcUpwd</param-name>
			<param-value>root</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DataController</servlet-name>
		<url-pattern>*.d</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ImageServlet</display-name>
		<servlet-name>ImageServlet</servlet-name>
		<servlet-class>beauty.web.servlet.ImageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ImageServlet</servlet-name>
		<url-pattern>/image</url-pattern>
	</servlet-mapping>
	<error-page>
		<error-code>404</error-code>
		<location>/login.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/login.jsp</location>
	</error-page>
</web-app>