
ClockService :
- type : vector
Configuration :
- Name : A
  IP : 128.237.115.254
  Port : 12344
  Group :
   - GA
   - A
   - B
   - C
   - D
   - E
   - F
   - G
- Name : B
  IP : 128.237.115.254
  Port : 14255
  Group :
   - GA
   - A
   - B
   - C
   - D
   - E
   - F
   - G
- Name : C
  IP : 128.237.115.254
  Port : 14256
  Group :
   - GA
   - A
   - B
   - C
   - D
   - E
   - F
   - G
- Name : C
  IP : 128.237.115.254
  Port : 14256
  Group :
   - GA
   - A
   - B
   - C
   - D
   - E
   - F
   - G
- Name : D
  IP : 128.237.115.254
  Port : 14257
  Group :
   - GA
   - A
   - B
   - C
   - D
   - E
   - F
   - G
- Name : E
  IP : 128.237.115.254
  Port : 14258
  Group :
   - GA
   - A
   - B
   - C
   - D
   - E
   - F
   - G
- Name : F
  IP : 128.237.115.254
  Port : 14259
  Group :
   - GA
   - A
   - B
   - C
   - D
   - E
   - F
   - G 
- Name : G
  IP : 128.237.115.254
  Port : 14246
  Group :
   - GA
   - A
   - B
   - C
   - D
   - E
   - F
   - G 
SendRules :
- Action : duplicate
  Src : charlie
  Dest : alice
  Kind : test
- Action : delay
  Kind : ask
ReceiveRules :
- Action : drop
  Kind: ack
  Dest : C